
.slideshow{
    background-color:#F5F5F5;
    border:1px solid #FFFFFF;
    height:500px;
    margin:0px auto 60px auto;
    position:relative;
    width:660px;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}

ul.slides{
    height:480px;
    width:640px;
	padding: 0px;
	margin: 0;
    list-style:none outside none;
    overflow:hidden;
    position:absolute;
}

li.slides{
	padding: 0px;
	margin: 0;

    position:absolute;
    display:none;
    z-index:10;
}

li.vert{
	/*
	Vertical images need special treatment. 
	Assume that 360x480
	(640 - 360) / 2  = 140
	*/
	left: 140px; 
}

li.slides:first-child{
    display:block;
    z-index:1000;
}

.slideActive{
    z-index:1000;
}

canvas.slides{
    display:none;
    position:absolute;
    z-index:100;
}

.slide_arrow{
    height:86px;
    width:60px;
    position:absolute;
    background:url('images/arrows.png') no-repeat;
    top:50%;
    margin-top:-43px;
    cursor:pointer;
    z-index:5000;
}

.slide_previous{ background-position:left top;left:0;}
.slide_previous:hover{ background-position:left bottom;}

.slide_next{ background-position:right top;right:0;}
.slide_next:hover{ background-position:right bottom;}

