html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "Helvetica", sans-serif; 
	font-size: 14pt;
	font-weight: 300;
	margin: 0 2rem;
	color: black;
	background-color: white;
	line-height: 1.35;
}

h1 {
	margin-top: 0;
	font-size: 150%;	
}
h2 {
	font-weight: normal;
}
.site_link_b {
	display: inline-block;
	background-color: #ff99dd;
	border-radius: 5px;
	padding: 2px 4px;
	font-weight: bolder;
	white-space: nowrap;
	font-size: smaller;
}

#main {
	max-width: 1100px;
	background-color: white;
	padding: 0 0 30px 0;
	margin: 0 auto;
}


#header {
	width: 100%;
	max-width: 1100px;
	margin: 50px auto 30px;
	display: grid;
	grid-template-columns: auto 170px;
	grid-template-areas: "title logo" "nav logo";
	justify-content: stretch;
}
#site_title {
	margin-right: 20px;
	margin-bottom: 1rem;
	color: red;
	font-weight: bold;
	font-size: 42pt;
	text-decoration: none;
	grid-area: title;
}
#site_nav {
	grid-area: nav;
}
#site_nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#site_nav li {
	display: inline-block;
	padding-right: 25px;
}
#site_nav a {
	text-decoration: none;
	text-transform: lowercase;
	color: gray;
	font-size: 26pt;
}
#site_nav a:hover {
	color:red;
}
#site_logo {
	grid-area: logo;
	margin-bottom: 0.75rem;
}
#site_logo > a {
	display: block;
	margin: 0 auto;
}

@media (max-width: 640px) {
#site_title {
	font-size: 32pt;
}
#site_nav a {
	font-size: 22pt;
}
#header {
	grid-template-areas: "title" "logo" "nav";
}
}


img.map {
	display: block;
	max-width: 100%;
	max-height: 60vh;
	object-fit: contain;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

img.center{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

div.news_date{
	width: 120px;
	float: left;	
}
div.news_text{
	width: 880px;
	float: left;
	margin-bottom: 20px;
}

div.wide_column{
	float: left;
	width: 60%;
	padding: 15px;
}

div.skinny_column{
	float: left;
	width: 30%;
	padding: 15px;
}

.evcontainer {
	display: flex;
	flex-wrap: wrap;
}
.evname {
	flex-basis: 30%;
	padding-right: 2rem;
}
.evpic {
	flex-basis: 70%;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	margin-bottom: 3rem;
}
.slideshow {
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    padding: 10px;
    position: relative;
    -moz-box-shadow: 0 0 22px #111;
    -webkit-box-shadow: 0 0 22px #111;
    box-shadow: 0 0 22px #111;
    max-height: 480px;
}
.hidden, .slide {
	display: none;
}
.slide.active {
	display: block;
}
.slide > img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: block;
}
@media (max-width: 640px) {
.evname, .evpic {
	flex-basis: 100%;
}
.slide {
	max-width: 100%;
}
}

.slide_arrow{
    height:86px;
    width:60px;
    position:absolute;
    background:url('images/arrows.png') no-repeat;
    top:50%;
    margin-top:-43px;
    cursor:pointer;
    z-index:5000;
}

.slide_previous{ background-position:left top;left:0;}
.slide_previous:hover{ background-position:left bottom;}

.slide_next{ background-position:right top;right:0;}
.slide_next:hover{ background-position:right bottom;}

.carousel {
	display: flex;
	margin-bottom: 2rem;
}
.carousel-list {
	margin: 0;
	padding: 0 8px;
	flex-grow: 1;
	list-style-type: none;
}
.carousel-prev, .carousel-next {
	border-radius: 5px;
	border-width: 0;
	background-color: #ff5566;
	font-weight: 900;
	font-size: larger;
	color: white;
}
.carousel-prev:hover, .carousel-next:hover {
	background-color: #ff6677;
}
.carousel-prev:active, .carousel-next:active {
	background-color: #ff3344;
}
.carousel-prev[disabled], .carousel-next[disabled] {
	background-color: #bbbbbb;
}
[hidden] {
	display: none !important;
}

figure {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}
figcaption {
	text-align: center;
}
